@model IEnumerable<MVC.Models.MvcCompanyModel>

@{
    ViewBag.Title = "Index";
}

<br />

<p>
    <a href="@Url.Action("AddOrEdit","Company")" class="btn btn-default"><i class="fa fa-plus"></i> Create New</a>
</p>

<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockTicker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exchange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>Actions</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockTicker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exchange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                <a href="@Url.Action("AddOrEdit", "Company", new { id = item.Id})" class="btn btn-default"><i class="fa fa-pencil"></i>  Edit</a>
                <a onclick="Delete(@item.Id)" class="btn btn-default"><i class="fa fa-trash"></i>  Delete</a>
            </td>
        </tr>
    }

</table>




@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);


        });

        function Delete(id) {
            alertify.confirm('Web Api CRUD Operations','Are You Sure to Delete this Record ?',function(){
                window.location.href  = '@Url.Action("Delete","Company")/'+id;
            },null );
        }
    </script>
}